body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.product {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.order-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.admin-button-container {
    text-align: center;
    margin-top: 20px;
}

#admin-access-section {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#admin-login {
    margin-top: 20px;
    text-align: center;
}

#admin-table-section {
    margin-top: 20px;
    text-align: center;
}

#order-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

#order-table th, #order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#order-table th {
    background-color: #f4f4f4;
}
