body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.hidden {
    display: none;
}

form {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.admin-button-container {
    margin: 20px;
}
